/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
   /* padding: 0;*/
    margin: 0;
    /*box-sizing: border-box;*/
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}
    
/* Header */
header {
    background-color: beige;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    /*box-shadow: 0 2px 2px #3a3a3a;*/
    display: flex;
    justify-content: space-between;
   
}

header a {
    text-decoration: none;
    color: inherit;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}


/* Viewl section */

#viewl {
    height: 600px;
    width: 100%;
    background: url("../images/london_view.jpg") no-repeat center center/cover;
    position: relative;
} 
#viewnhs {
    height: 500px;
    width: 100%;
    background: url("../images/nhs.png") no-repeat center center/cover;
    position: relative;
} 
#viewbus   {
    height: 200px;
    width: 50%;
    background: url("../images/bus.jpg") no-repeat center center/cover;
    position: relative;
} 
#viewtube   {
    height: 200px;
    width: 50%;
    background: url("../images/tube.jpg") no-repeat center center/cover;
    position: relative;
} 
div {
padding: 12px 12px 12px 12px;
text-align: justify;
}
div > p > a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
} 
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Small devices:  phones (576px and up) */
/*@media screen and (min-width: 576px)*/

/* Media query: tablets and larger (768px and up) */
/*@media screen and (min-width: 768px) */
    /* Header */
/* Large devices: (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) 
{
    nav {
        display: block;
        position: absolute;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        }

    #menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* viewl */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
 } 


 
    #menu > li a:link,  a:visited {  
        width: 8rem;
        height: 2rem;
        background: red;
        color: whitesmoke;
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding-right: 1rem;
        font-size: small;
        border: 2px solid black;
        padding: 5px 10px;
        text-align: center ;
        margin: 2px 2px;
        border-radius: 8px;
        font-family: Lato;
        font-weight: bold;
      }
      
    #menu > a:hover, a:active {
        background-color: green;
        color: white;
        opacity: 0.7;
        transition: 2c;
        transform: scale(1.2);
      }
     
    
@media screen and (min-width: 1200px)
 {
     #logo 
     {
    font-size: 400%;
    line-height: 75px;
    margin: 0 0.5rem;}
}