/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
    text-align: center;
}
h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}
/* Header */
header {
    background-color: beige;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

header a {
    text-decoration: none;
    color: inherit;
    }

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    text-align: right;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}


/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}


/* Images section */

#viewl {
    height: 600px;
    width: 100%;
    background: url("../images/london_view.jpg") no-repeat center center/cover;
    position: relative;
}
#viewunderconstruction {
    height: 600px;
    width: 100%;
    background: url("../images/under_construction.jpg") no-repeat center center/cover;
    position: relative;
}

#viewnhs {

    height: 200px;
    width: 50%;
    background: url("../images/nhs.png") no-repeat center center/cover;
    left: 10px;
    top: 150px;
    z-index: 1;
}

#viewstmarys {
    height: 200px;
    width: 50%;
    background: url("../images/stmarys.jpg") no-repeat center center/cover;
    left: 10px;
    top: 150px;
    z-index: 1;
}
#maps {
    display: flex;
    flex-wrap: wrap;
}
#maps div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 50px;
    text-align: center;
    /* vertical-align: justify; */
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#viewbus {
    height: 200px;
    width: 50%;
    background: url("../images/bus.jpg") no-repeat center center/cover;
    left: 10px;
    top: 150px;
    z-index: 1;
}

#viewtube {
    height: 200px;
    width: 50%;
    background: url("../images/tube.jpg") no-repeat center center/cover;
    right: 10px;
    top: 150px;
    z-index: 1;
}

div {
    padding: 12px 12px 12px 12px;
    text-align: justify;
}

div>p>a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Form */
#contact {
    background: url("../images/london_view.jpg") no-repeat center center/cover;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: #ffffff;
    padding: 30px;
}
#contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/*#contact {
    background-position: center;
    position: relative;
}*/
#contact {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
#contact-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 150px;
}


.text-input:hover {
    border-color: #f16c6b;
}

.join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Small devices:  phones (576px and up) */
/*@media screen and (min-width: 576px)*/

/* Media query: tablets and larger (768px and up) */
/* @media screen and (min-width: 768px) */
/* Header */


/* Large devices: (laptops and desktops, 992px and up) */
/*@media screen and (min-width: 992px) */

@media screen and (min-width: 1200px) {
    nav {
        display: block;
        position: absolute;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
          margin-top: 79px;
    }

    /* viewl */
    #cover-text {
        width: 300px;
        right: 50px;
    }

}

#menu>li a:link,
a:visited {
    width: 8rem;
    height: 3rem;
    background: red;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-right: 1rem;
    font-size: small;
    border: 2px solid black;
    padding: 5px 10px;
    text-align: center;
    margin: 2px 2px;
    border-radius: 8px;
    font-family: Lato;
    font-weight: bold;
}

#menu>a:hover,
a:active {
    background-color: green;
    color: white;
 
}


/*@media screen and (min-width: 1200px)*/
